<div class="example-container">
  <mat-card>
    <form [formGroup]="form" novalidate="novalidate">
      <div class="mat-field">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="this.form.get('name').errors?.required">The name is mandatory</mat-error>
          <mat-error *ngIf="this.form.get('name').errors?.minlength">At least 5 characters</mat-error>
        </mat-form-field>
      </div>
      <div class="mat-field">
        <mat-checkbox class="example-margin" formControlName="active">Active</mat-checkbox>
      </div>
      <div class="mat-field">
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Comments" formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <!-- <div>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Elegir una fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>        
        </mat-form-field>
      </div> -->
      <div>
        <h3>Items
          <button (click)="addItem()">
              <i class="fa fa-plus"></i>
          </button>
        </h3>
        <div class="mat-field">
          <mat-list dragula="items" [(dragulaModel)]="this.entity.items" class="draggable">
              <mat-list-item *ngFor="let item of this.entity.items;let idx = index">
                <mat-icon matListIcon>drag_handle</mat-icon>
                <h3 matLine> {{item.name}} </h3>
                <p matLine> <span> {{item.title}} </span> </p>
                <mat-icon matListIcon (click)="addItem(item, idx)" style="cursor: pointer;">edit</mat-icon>
              </mat-list-item>
          </mat-list>
        </div>
      </div>
    </form>
    <div> 
        <button type="button" mat-stroked-button class="mat-warn" [routerLink]="['/entities']">Back</button>
        <button  mat-raised-button class="mat-primary" (click)='save()' [disabled]="this.form.invalid">
          {{ !this.id ? "Save": "Update" }}
        </button>
    </div>
  </mat-card>
</div>