<form [formGroup]="form" (ngSubmit)='save()' novalidate="novalidate"> 
  <div class="form-field">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="this.form.get('name').errors?.required">The name is mandatory</mat-error>
      <mat-error *ngIf="this.form.get('name').errors?.minlength">At least 5 characters</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required>
        <mat-error *ngIf="this.form.get('title').errors?.required">The title is mandatory</mat-error>
        <mat-error *ngIf="this.form.get('title').errors?.minlength">At least 5 characters</mat-error>
      </mat-form-field>
    </div>
  <div class="form-field">
    <mat-checkbox class="example-margin" formControlName="active">Active</mat-checkbox>
  </div>
  <div class="form-field">
    <mat-checkbox class="example-margin" formControlName="requiered">Requiered</mat-checkbox>
  </div>
  <div class="form-field">
    <mat-checkbox class="example-margin" formControlName="readOnly">Read only</mat-checkbox>
  </div>
  <div class="form-field">
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Item description" formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <div class="form-field">
      <mat-select placeholder="Data type" formControlName="dataType">
        <mat-option *ngFor="let dataType of dataTypes" [value]="dataType.value"> {{ dataType.name }} </mat-option>
      </mat-select>
      <mat-error *ngIf="!this.form.pristine && this.form.get('dataType').errors?.required">The data type is mandatory</mat-error>
  </div>  
  <div class="form-field">
    <b>Item order:</b> {{ this.item.order }}
  </div>
  <div class="form-field" *ngIf="this.item.dateCreated != null">
    <b>Date created:</b>  {{ this.item.dateCreated | date: 'yyyy-MM-dd HH:mm'}}
  </div>
  <!-- <div>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Elegir una fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>        
    </mat-form-field>
  </div> -->
  <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-stroked-button class="mat-primary" 
        cdkFocusInitial 
        [disabled]="!this.form.valid" 
        [mat-dialog-close]="this.form.value">Save</button>
  </div>
</form>